/* För att "nolla" dokumentet */
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    height: 100%; /*This to make the footer at the bottom*/
}
/* */
header {
    background: #5f2888;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5f2888, #9341d1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5f2888, #9341d1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#top-header {
    /* font-family: 'Ewert', cursive; */
    /* font-family: 'Sancreek', cursive; */
    font-family: 'Bungee', cursive;
    font-size: 4em;
    color: #190b23;
}
body {
    /* background-color: #7030a0; */
    background-color: #9341d1;
    background-image: url(Images/chuck-purple.png);
    background-position: right, center;
    background-repeat: no-repeat;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
p {
    color: #190b23;
    font-family: 'Poppins', sans-serif;
}
footer {
    background: #5f2888;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5f2888, #9341d1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5f2888, #9341d1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-row-start: 3;
    grid-row-end: 4;
}
